.navigation{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.navigation>ul {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#linkStyles{
    font-size: 1.2rem;
    &:hover{
        color: red;
    }
}

.linkActive{
    color: orange;
    
}

.linkNonActive{
    color: black;
}