.cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 2rem; 
  }

  .product-card {
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .product-card:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.1);
  }
