.mainContent {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 95%;
}

.sideBar {
  border: 1px solid rgb(74, 186, 247);
  border-radius: 8px;
}

.cards {
  margin-left: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  
}

form > input {
  height: 30px;
  border-radius: 8px;
  padding: 2px 5px;
  border: 1px solid;
}

@media screen and (max-width: 1000px) {
  .cards {
    margin-left: 20px;
    grid-template-columns: 1fr 1fr;
    
  }
}

@media screen and (max-width: 656px) {
  .cards {
    margin-left: 20px;
    grid-template-columns: 1fr;
    
  }
}